.App {

  &-container {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
  }

  &-link {
    text-decoration: none;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgb(180, 140, 140);
    color: white;
  }
}